[Environment]
SYS_CWRF = /home/zhanghan/.cresm_libs
SYS_CoLM = /stu01/chenhj23/PrepScript_qTERA07/env.colm250930_libs.sh
SYS_NCL = /home/chenhj23/.bashrc_zhangh
CONDA_CRESM = cresm
CONDA_XESMF = cresm_xesmf
CONDA_CHAO = Chaomodis
CONDA_UNGRIB = cresm

[era5]
ForcingDataName = ERA5
DataCalender = standard
Forc_Info = None
Forc_2D_Path = /shr02/CRESM_Forcing/ERA5_RAW/<YYYY>/SFC<YYYY><MM><DD>.grib
Forc_3D_Path = /shr02/CRESM_Forcing/ERA5_RAW/<YYYY>/PRESS<YYYY><MM><DD>.grib
Forc_SST_Path = /shr02/CRESM_Forcing/ERA5_RAW/<YYYY>/SFC<YYYY><MM><DD>.grib

[cfsv2]
ForcingDataName = CFSV2
DataCalender = standard
Forc_Info = None
Forc_2D_Path = /home/chengs24/stu02/CFSV2/operational-9-month-forecast/6-hourly-flux/040100/<YYYY>/flxf<YYYY><MM><DD><HH>.01.<YYYY>040100.grb2
Forc_3D_Path = /home/chengs24/stu02/CFSV2/operational-9-month-forecast/6-hourly-by-pressure/040100/<YYYY>/pgbf<YYYY><MM><DD><HH>.01.<YYYY>040100.grb2
Forc_SST_Path = /home/chengs24/stu02/CFSV2/operational-9-month-forecast/6-hourly-flux/040100/<YYYY>/flxf<YYYY><MM><DD><HH>.01.<YYYY>040100.grb2

[mpi-esm1-2-hr_hist]
ForcingDataName = MPI-ESM1-2-HR_hist
DataCalender = standard
Forc_Info = /home/zhanghan/qTERA07/CPS/PrepScript/Forcing/NetCDF_Forcing_Config/Forc_Info.MPI-ESM1-2-HR_hist.ini
Forc_2D_Path = 
Forc_3D_Path = 
Forc_SST_Path = 

[mpi-esm1-2-hr_ssp245]
ForcingDataName = MPI-ESM1-2-HR_ssp245
DataCalender = standard
Forc_Info = /home/zhanghan/qTERA07/CPS/PrepScript/Forcing/NetCDF_Forcing_Config/Forc_Info.MPI-ESM1-2-HR_ssp245.ini
Forc_2D_Path = 
Forc_3D_Path = 
Forc_SST_Path = 

[mpi-esm1-2-hr_ssp585]
ForcingDataName = MPI-ESM1-2-HR_ssp585
DataCalender = standard
Forc_Info = /home/zhanghan/qTERA07/CPS/PrepScript/Forcing/NetCDF_Forcing_Config/Forc_Info.MPI-ESM1-2-HR_ssp585.ini
Forc_2D_Path = 
Forc_3D_Path = 
Forc_SST_Path = 

[cesm2_hist]
ForcingDataName = CESM2_hist
DataCalender = noleap
Forc_Info = /home/zhanghan/qTERA07/CPS/PrepScript/Forcing/NetCDF_Forcing_Config/Forc_Info.CESM2_hist.ini
Forc_2D_Path = 
Forc_3D_Path = 
Forc_SST_Path = 

[Paths]
ScriptPath = /stu01/chenhj23/PrepScript_qTERA07
CoLMModelPath = /stu01/chenhj23/soft/CoLM/CoLM202X_LILU
CoLMNMLTemplate = ${Paths:ScriptPath}/NML/unstructured_cwrf.colm.CoLM202X_LILU.ctl
CoLMRawDataPath = /shr03/CoLMrawdata
CoLMRunDataPath = /shr03/CoLMruntime
CoLMForcingPath = /shr03/CoLM_Forcing/ERA5LAND/
RootToolBox = /stu01/chenhj23/CRESMDataPrep/CRESM_ToolBox
CWPSPath = /stu01/chenhj23/CRESMDataPrep/CRESM_ToolBox/ToolBox/CWRF-CWPS
CWRFToolPath = /stu01/chenhj23/CRESMDataPrep/CRESM_ToolBox/ToolBox/CWRF_Tools
GeogDataPath = /stu01/chenhj23/CRESMDataPrep/CRESM_ToolBox/Data/CWPS_GEOG/geog_wm_modified_lake
LandSeaMaskPath = /hydata01/wumej22/DONT_DELETE/CRESM_ToolBox/Data/CWPS_GEOG/Land-and-sea-boundary-data
CWPSStaticPath = /stu01/chenhj23/CRESMDataPrep/CRESM_ToolBox/Data/CWPS_static
GlobalLakeDepth = /stu01/chenhj23/CRESMDataPrep/CRESM_ToolBox/Data/CWPS_GEOG/GlobalLakeDepth.dat
GlobalLakeStatus = /stu01/chenhj23/CRESMDataPrep/CRESM_ToolBox/Data/CWPS_GEOG/GlobalLakeStatus.dat
WMEJUngrib = /stu01/chenhj23/CRESMDataPrep/CRESM_ToolBox/ToolBox/WMEJ_NC2IM
ChaoModis = /stu01/chenhj23/CRESMDataPrep/CRESM_ToolBox/ToolBox/Chao_modis
WMEJModis = /stu01/chenhj23/CRESMDataPrep/CRESM_ToolBox/ToolBox/WMEJ_modis
NCOPath = /usr/bin/ncks
CDOPath = /usr/bin/cdo
NCLPath = /home/zhanghan/soft/bin/ncl
